{% extends 'stores/base.html' %}
{% load stores_tags %}
{% load static %}
{% block title %}店家列表 | {{ block.super }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    {% for store in stores %}
    <div class="store mt-3">
      {% if store|deletable:user %}
      <button data-href="{% url 'stores:store_delete' store.pk %}" class="btn btn-danger btn-delete float-right btn-sm">刪除</button>
      {% endif %}
      <h2><a href="{{ store.get_absolute_url }}">{{ store.name }}</a></h2>
      <p>{{ store.notes }}</p>
    </div>
    {% endfor %}
    <a href="{% url 'stores:store_create' %}" class="btn btn-primary">建立店家</a>
  </div>
  <div class="col-md-4"></div>
</div>

{% endblock content %}
{% block js %}
<script src="{% static 'stores/js/store_list.js' %}"></script>
{% endblock js %}