<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}午餐系統{% endblock title %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  {% load static %}
</head>

<body>
  {% block body %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="container">
      <a class="navbar-brand navbar-text" href="{% url 'pages:home' %}">午餐系統</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="{% url 'stores:store_list' %}">店家列表</a></li>
        </ul>
      </div>
      <form class="navbar-right navbar-form" method="post" action="{% url 'logout' %}">
        {% if user.is_authenticated %}
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'pages:home' %}">
        <button class="btn btn-primary" type="submit">登出</button>
        {% else %}
        <a class="btn btn-primary" href="{% url 'login' %}">登入</a>
        {% endif %}
      </form>
    </div>
  </nav>
  {% endblock body %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  {% block js %}{% endblock js %}
  <script src="{% static 'base/js/base.js' %}"></script>
</body>

</html>